@font-face {
    font-family: 'Selawik';
    src: url('~/glimpse/hud/assets/selawk.woff2') format('woff2'),
         url('~/glimpse/hud/assets/selawk.woff') format('woff');
}
@font-face {
    font-family: 'Selawik Light';
    src: url('~/glimpse/hud/assets/selawkl.woff2') format('woff2'),
         url('~/glimpse/hud/assets/selawkl.woff') format('woff');
}

.glimpse-hud {
    display: flex;
    height: 40px;
    width: auto;
    flex-direction: row;
    align-items: stretch;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #f1f1f1;
    font-size: 15px;
}
.glimpse-arrow {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
}
.glimpse-arrow-path {
    fill: currentColor;
}
.glimpse-link {
    color: #3399ff;
    border-right: 1px solid #3399ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.85);
    transition: .3s ease;
    transition-property: background-color, color;
    .glimpse-link:hover {
        background-color: rgba(13, 92, 157, 0.85);
        color: inherit;
    }
}
.glimpse-timing {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.85);
}
.glimpse-timing-duration {
    position: relative;
    font-size: 20px;
    margin-left: 5px;
    top: -2px;
}
.glimpse-timing-label,
.glimpse-timing-suffix {
    color: #999;
}
