@font-face {
    font-family: 'Selawik';
    src: url('~/glimpse/hud/assets/selawk.woff2') format('woff2'),
         url('~/glimpse/hud/assets/selawk.woff') format('woff');
}

.glimpse-hud {
    display: flex !important;
    height: 40px !important;
    width: auto !important;
    flex-direction: row !important;
    align-items: stretch !important;
    color: white !important;
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    color: #f1f1f1 !important;
    font-size: 15px !important;
    font-family: 'Selawik', sans-serif !important;
    font-weight: 300 !important;
}
.glimpse-arrow {
    height: 15px !important;
    width: 15px !important;
    display: inline-block !important;
    margin-right: 10px !important;
}
.glimpse-arrow-path {
    fill: currentColor !important;
}
.glimpse-link {
    color: #3399ff !important;
    border-right: 1px solid #3399ff !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    height: 100% !important;
    padding: 0 15px !important;
    text-decoration: none !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    transition: .3s ease !important;
    transition-property: background-color, color !important;
    
    &:hover {
        background-color: rgba(13, 92, 157, 0.85) !important;
        color: inherit !important;
    }
}
.glimpse-timing {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 0 15px !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
}
.glimpse-timing-duration {
    position: relative !important;
    font-size: 20px !important;
    margin-left: 5px !important;
    margin-right: 1px !important;
    top: -2px !important;
    font-weight: 600 !important;
}
.glimpse-timing-label,
.glimpse-timing-suffix {
    color: #999 !important;
}
