@font-face {
    font-family: 'Selawik';
    src: url('~/glimpse/hud/assets/selawk.woff2') format('woff2'),
         url('~/glimpse/hud/assets/selawk.woff') format('woff');
}

.glimpse-hud {
    display: flex !important;
    height: 40px !important;
    width: auto !important;
    flex-direction: row !important;
    align-items: flex-end !important;
    color: white !important;
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    color: #f1f1f1 !important;
    font-size: 15px !important;
    font-family: 'Selawik', sans-serif !important;
    font-weight: 300 !important;

    > * + * {
        border-left: 1px solid #999 !important;
    }
}
.glimpse-arrow {
    height: 15px !important;
    width: 15px !important;
    display: inline-block !important;
    margin-right: 10px !important;
}
.glimpse-arrow-path {
    fill: currentColor !important;
}
.glimpse-link {
    color: #3399ff !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    height: 100% !important;
    padding: 0 15px !important;
    text-decoration: none !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    transition: .3s ease !important;
    transition-property: background-color, color !important;

    &:hover {
        background-color: rgba(13, 92, 157, 0.85) !important;
        color: inherit !important;
    }
}
.glimpse-section {
    padding: 0 15px !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    min-height: 40px !important;

    &:hover {
        > .glimpse-section-summary {
            height: 1px !important;
            overflow: hidden !important;
            visibility: hidden !important;
        }
        > .glimpse-section-detail {
            max-height: 999px !important;
        }
    }
}
.glimpse-section-summary {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    height: 40px !important;
}
.glimpse-section-detail {
    max-height: 0 !important;
    overflow: hidden !important;
}
.glimpse-section-duration {
    position: relative !important;
    font-size: 20px !important;
    margin-left: 5px !important;
    margin-right: 1px !important;
    top: -2px !important;
    font-weight: 600 !important;
}
.glimpse-section-label,
.glimpse-section-suffix {
    color: #999 !important;

    &.glimpse-section-suffix--text {
        padding-left: 2px !important;
    }
}
.glimpse-section-value {
    margin-left: 5px !important;
    transition: color 0.5s ease-in-out;

    &.glimpse-section-value--update {
        color: #39f !important;
    }
}
.glimpse-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    padding: 0 15px !important;
    border-right: 1px solid #3399ff !important;

    > svg {
        position: relative !important;
        left: 2px !important;
        height: 25px !important;
        width: 25px !important;
    }

    &:hover {
        background-color: rgba(13, 92, 157, 0.85) !important;
    }
}

.glimpse-ajax-rows {
    font-size: 13px !important;
    margin-left: 20px !important;
    width: 220px !important;

    &:empty {
        display: none !important;
    }
}
.glimpse-ajax-row {
    animation: glimpse-ajax-row-enter .3s ease-out !important;
    white-space: nowrap !important;
    position: relative !important;

    @keyframes glimpse-ajax-row-enter {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }
}
.glimpse-ajax-cell {
    &:last-child {
        text-align: right !important;
    }
}
.glimpse-ajax-uri {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding: 0 20px !important;
    width: auto;
    max-width: 100px !important;
}
